version: '3.8'

services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: floraguard-backend
    ports:
      - "8000:8000"
    environment:
      - GEMINI_API_KEY=AIzaSyAX7rWNNbZ90pHAmmrG8DOvTTn_VK4KSFc
    restart: always
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8000/health" ]
      interval: 30s
      timeout: 10s
    develop:
      watch:
        - action: sync
          path: ./backend
          target: /app
        - action: rebuild
          path: ./backend/requirements.txt

  frontend:
    build:
      context: .
      dockerfile: web_app/Dockerfile
    container_name: floraguard-frontend
    ports:
      - "8501:8501"
    environment:
      - API_BASE_URL=http://backend:8000
    depends_on:
      backend:
        condition: service_healthy
    restart: always
    develop:
      watch:
        - action: sync
          path: ./web_app
          target: /app
        - action: rebuild
          path: ./web_app/requirements.txt
